<%= link_to "내 글 보기", posts_path %>
<%= link_to "전체 글 보기", all_posts_path %>
<%= link_to "새 글 작성하기", new_post_path %>
<table class="table table-striped">
	<thead>
		<tr>
			<th>작성자</th>
			<th>요약</th>
			<th>자세히보기</th>
		</tr>
	</thead>
	<tbody>
		<% @posts.each do |post| %>
				<tr>
						<td><%= post.user.name %></td>
						<td><%= post.content[0..100] %></td>
						<td><%= link_to "자세히 보기", post %></td>
				</tr>
		<% end %>
	</tbody>
</table>